In [1]:
# Preliminar original data analysis

# In this part we will describe the original information in some source files

In [2]:
import json
import os.path
import sys
import csv
import numpy as np
import pandas as pd

In [15]:
url="../Data/Raw/England/Championship_1718.csv"
parse_dates=["Date"]
ds = pd.read_csv(url, parse_dates=parse_dates)

In [16]:
ds.shape

(552, 65)

In [17]:
ds.head(5)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E1,2016-05-08,Fulham,Newcastle,1,0,H,1,0,H,...,1.91,32,0.25,2.21,2.14,1.76,1.72,4.39,3.42,2.00
1,E1,2016-06-08,Birmingham,Cardiff,0,0,D,0,0,D,...,1.65,32,-0.25,2.06,1.98,1.94,1.84,2.53,3.26,3.14
2,E1,2016-06-08,Blackburn,Norwich,1,4,A,0,3,A,...,1.62,32,0.25,1.95,1.88,2.00,1.94,3.64,3.33,2.25
3,E1,2016-06-08,Bristol City,Wigan,2,1,H,0,1,A,...,1.68,33,-0.25,1.95,1.89,2.00,1.94,2.23,3.50,3.49
4,E1,2016-06-08,Derby,Brighton,0,0,D,0,0,D,...,1.68,32,-0.25,1.83,1.76,2.13,2.07,2.28,3.31,3.57

In [18]:
ds.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
count,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,...,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000
mean,1.498188,1.112319,0.614130,0.474638,13.998188,11.583333,4.588768,3.777174,11.538043,11.996377,...,1.815109,26.097826,-0.270833,2.000924,1.933732,1.977536,1.911667,2.488533,3.624366,3.834130
std,1.206454,1.023354,0.772497,0.696953,4.695250,4.635178,2.393901,2.133304,3.527234,3.534120,...,0.204850,4.303529,0.465235,0.147374,0.135404,0.140977,0.131470,0.867288,0.504753,1.646664
min,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000,0.000000,0.000000,3.000000,4.000000,...,1.450000,17.000000,-1.500000,1.650000,1.610000,1.610000,1.550000,1.280000,2.980000,1.380000
25%,1.000000,0.000000,0.000000,0.000000,11.000000,8.000000,3.000000,2.000000,9.000000,9.000000,...,1.680000,23.000000,-0.500000,1.887500,1.830000,1.870000,1.810000,1.940000,3.330000,2.720000
50%,1.000000,1.000000,0.000000,0.000000,14.000000,11.000000,4.000000,3.000000,11.000000,12.000000,...,1.770000,26.000000,-0.250000,1.990000,1.930000,1.970000,1.910000,2.300000,3.470000,3.450000
75%,2.000000,2.000000,1.000000,1.000000,17.000000,14.000000,6.000000,5.000000,14.000000,14.000000,...,1.912500,30.000000,0.000000,2.100000,2.030000,2.080000,2.010000,2.832500,3.710000,4.372500
max,7.000000,6.000000,6.000000,4.000000,31.000000,35.000000,13.000000,12.000000,23.000000,25.000000,...,3.210000,36.000000,1.250000,2.550000,2.420000,2.400000,2.310000,8.450000,6.820000,13.400000